/* Empty. Add your own CSS if you like */
.content {
  background-color: #f6f6f6;
}

#main-controller-styles {
  font-size: 48px;
  padding: 90px 20px;
}

.currency-input {
  display: inline-block !important;
  font-size: 48px !important;
  width: 132px;
  border: 1px #ccc solid !important;
  margin: 5px 0;
}

.currency-type {
  vertical-align: middle;
}

#reset-inputs {
  margin-top: 20px;
  font-size: 32px;
  float: right;
}
