html, body {
  overflow: hidden; }

.content {
  background-color: #f6f6f6; }

#main-content-styles {
  height: 100vh;
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  padding: 64px 42px 0 42px;
  will-change: transform; }

#settings-icon {
  font-size: 60px;
  top: 10px;
  right: 20px;
  color: #444444;
  transition: right .3s;
  position: fixed;
  z-index: 1000; }

#settings-icon.menu-open {
  right: 350px; }

#settings-icon.menu-open {
  color: #BBBBBB !important; }

#settings-icon span {
  cursor: pointer; }

.currency-input {
  font-size: 43px !important;
  display: inline-block !important;
  width: 100%;
  max-width: calc(100% - 125px);
  border: 1px #ccc solid !important;
  margin: 5px 2px 5px 0;
  height: auto !important;
  padding-top: 0 !important;
  padding-left: 4px !important; }

.currency-type {
  vertical-align: middle;
  font-size: 43px;
  padding-left: 16px; }

#reset-inputs {
  margin: 30px 0;
  font-size: 32px;
  width: 100%;
  padding-bottom: 5px; }

#lastUpdated {
  font-size: 16px;
  text-align: right;
  margin: 10px 0; }

.spinner svg {
  width: 50vw;
  height: 20vw;
  stroke: #fff;
  fill: #fff; }

.loading-container .loading {
  background-color: transparent; }

.popup-title {
  font-size: 28px; }

.popup-body {
  font-size: 18px; }
